<form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2 class="formHeading">Income</h2>

  <mat-form-field appearance="fill">
    <mat-label>Income Source</mat-label>
    <mat-select formControlName="source">
      <mat-option *ngFor="let src of incomeSource" [value]="src">
        {{ src }}
      </mat-option> 
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" type="number" placeholder="e.g. 5000">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" type="date">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
